<form method="post" name="recipeForm">
    <div class="mb-3">
        <label for="inputName" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="inputName" aria-describedby="nameHelp">
        <div id="nameHelp" class="form-text">Un nombre para la receta.</div>
    </div>
    <div class="mb-3">
        <label for="inputIngredients">Ingredientes</label>
        <textarea class="form-control" id="inputIngredients" aria-describedby="ingredientsHelp"></textarea>
        <small id="ingredientsHelp" class="form-text">Los ingredientes de la receta, en líneas.</small>
    </div>
    <div class="mb-3">
        <label for="inputInstructions">Instrucciones</label>
        <textarea class="form-control" id="inputInstructions" aria-describedby="instructionsHelp"></textarea>
        <small id="instructionsHelp" class="form-text">Las instrucciones de la receta, en líneas.</small>
    </div>
</form>