{% extends "base.html" %}
{% block content %}
    <h1 class="mt-5">Resultados de Busqueda</h1>
    <table class="table {% if modo_oscuro %}table-dark{% endif %}">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Preparacion</th>
            {# <th scope="col">Handle</th> #}
          </tr>
        </thead>
        <tbody>
          {% for receta in recetas %}
            <tr>
                <th scope="row">{{ receta.id }}</th>
                <td><a class="{% if modo_oscuro %}link-info{% endif %}" href="{% url 'detalle' receta.id %}">{{ receta.nombre }}</a></td>
                <td>{{ receta.preparación }}</td>
                {% comment %} * EDIT / DELETE BUTTONS * {% endcomment %}
                <td><a class="{% if modo_oscuro %}link-info{% endif %}" href={% url 'receta_edit' receta.id %}>
                  <i class="fa-solid fa-pen-to-square"/>
                </a></td>
                <td><a class="{% if modo_oscuro %}link-info{% endif %}" role="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop-delete-{{ receta.id }}">
                  <i class="fa-solid fa-trash"></i>
                </a></td>
            </tr>
            {% comment %} * MODAL * {% endcomment %}
            <div class="modal fade" id="staticBackdrop-delete-{{ receta.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content {% if modo_oscuro %}bg-dark{% endif %}">
                  <div class="modal-header justify-content-center">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">¿Quieres eliminar la receta {{ receta.nombre }}? </h1>
                  </div>
                  {% comment %} <div class="modal-body">
                   
                  </div> {% endcomment %}
                  <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <a class="btn btn-danger" href="{% url 'receta_delete' receta.id %}">Eliminar</a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </tbody>
      </table>

      <div class="d-grid gap-2 col-6 mx-auto">
      <a class="btn {% if modo_oscuro %}btn-outline-info {% else %} btn-outline-primary{% endif %}" href={% url 'receta_new' %}>
        <span>Añadir Nueva receta</span>
      </a>
    </div>
{% endblock %}      