{% extends "base.html" %}
{% block content %}
    <h1 class="mt-5">Receta de {{ receta.nombre }}</h1>
    <h4>Preparación</h4>
    <p>{{ receta.preparacion }}</p>

    <h4>Ingredientes</h4>
    <table class="table {% if modo_oscuro %}table-dark{% endif %} table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Unidades</th>
          </tr>
        </thead>
        <tbody>
            {% for ingrediente in ingredientes %}
                <tr>
                    <th scope="row">{{ ingrediente.id }}</th>
                    <td>{{ ingrediente.nombre }}</td>
                    <td>{{ ingrediente.cantidad }}</td>
                    <td>{{ ingrediente.unidades }}</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>

    <h4>Imágenes</h4>
    
    {% for imagen in imagenes %}
        <img src="/media/{{ imagen.foto }}" class="img-thumbnail" style="max-height: 250px;">
    {% endfor %}
{% endblock %}      